<h1>My sugar bags</h1>

<article class="list-container">
    <% @sugar_bags.each do |sugar_bag| %>
        <div class="col-md-4">
            <div><%= sugar_bag.name %> from <%= sugar_bag.from %></div>
            <span><%= link_to 'Show', sugar_bag %></span>
            <span><%= link_to 'Edit', edit_sugar_bag_path(sugar_bag) %></span>
            <span><%= link_to 'Destroy', sugar_bag, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        </div>
    <% end %>

</article>

<br />

<%= link_to 'New Sugar bag', new_sugar_bag_path %>
