<h1>My sugar bags</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sugar_bags.each do |sugar_bag| %>
  <tr>
    <td><%= sugar_bag.name %> from <%= sugar_bag.from %></td>
    <td><%= link_to 'Show', sugar_bag %></td>
    <td><%= link_to 'Edit', edit_sugar_bag_path(sugar_bag) %></td>
    <td><%= link_to 'Destroy', sugar_bag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sugar bag', new_sugar_bag_path %>
